/*NAV-BAR*/


.fundo_nav{

    background-color: #1D1926;
    
}


.cor_nav{

    color: brown;

}
.nav-item{
  letter-spacing: 3px;
  margin-left: 32px;  
  font-family: 'Source Sans Pro', sans-serif
  
}
#sobre p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;

}

p{
  font-family: 'Roboto', sans-serif;


  }



/*HOBBIES*/
#hobby {
  padding-top: 0;
  padding-left: all;
  text-align: center;
  padding-top: 10%;

}

.hobb {
  margin-bottom: 25px;
 
  
}

.hobb {
  text-align: center;
  color: #000000;
  font-size: 16px;
 
}


#hobby .img-responsive {
  width: 75%;
  text-align: center;
  
}

.hob-info h3 {
  margin-top: 35px;

}

.hob-info h4 {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(158, 156, 156);
}

.hob-info p{
text-align: justify;


}




/*Sobre Mim*/


#sobre p {
  font-size: 1em;
  margin-bottom: 20px;
}


#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: black;
  padding-top: 20px ;
  height: 1300px;
  margin-top: 50px;

}



.texto{

    padding-top: 2%;
    text-align: justify;

}




.h1{

    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    font-size: 3.5em;
    
}

.ajustes{
 
 text-decoration: underline;
 margin-top: 1%;
 margin-bottom: 1%;
 font-size: 5em;
}

.cor-fundo{
  
background-color: #978DA6;
padding-top: 0px;

}

    
/*FOOTER*/

.cor{
  background-color: #1D1926;



}







